doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        block title
            title Orblr
        link(rel='stylesheet' href='/css/main.css')
        block script
    body
        nav
            a(href='/') Home
            div.navright
                if username
                    a(href=`/user/${username}`)= username
                    a(href='/logout') Logout
                else
                    a(href='/register') Register
                    a(href='/login') Login
        block content
