extend posts

block buttons
    div
        div.button.like(data-id=post.id class=(post.liked && 'liked'))
            = post.likes == 1 ? '1 like' : `${post.likes} likes`
    div
        div.button.edit(data-id=post.id) Edit
        div.button.delete(data-id=post.id) Delete